@section scripts{
    <script src="~/Scripts/Users/Users.js"></script>
}
<div ng-controller="UserController">
    <div class="main-card mb-3 card">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full dataTable no-footer" id="DataTables_Table_1">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>
                        <strong>User Name</strong>
                        <div></div>
                    </th>
                    <th>
                        <strong>Email</strong>
                        <div></div>
                    </th>
                    <th>
                        <strong>CNIC</strong>
                        <div></div>
                    </th>
                    <th>
                        <strong>Phone Number</strong>
                        <div></div>
                    </th>
                    <th>
                        <strong>Created Date</strong>
                        <div></div>
                    </th>
                    <th>
                        <strong>Actions</strong>
                        <div></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in UserList">
                    <td>{{$index+1}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.cnic}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.createdOn}}</td>
                    <td><button type="button" class="btn btn-alt-primary" value="Manage Roles" ng-click="OpenUserRoleList(item.id)">Manage Roles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



