<div class="row" ng-controller="UserList">
    <div class="col-md-12">
        <div class="block">
            <div class="block-header bg-gray-darker">
                <h3 class="block-title text-white">User List</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th>Sr#</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>CNIC</th>
                                <th>Phone Number</th>
                                <th>Created Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles
{
    <link href="~/Plugins/datatable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Plugins/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Users/Users.js"></script>
}



